:host(){
    --dark-blue: #0b0d21;
    --light-blue: #4f7df9;
    --light-white: #fafafa;
    --light-pink: #e91e63;
    --dull-blue: #1d1e33;
    --size-16: 16px;
    --size-14: 14px;
    --size-12: 12px;
    --size-38: 38px;
}

.app{
    min-height: 100vh;
    background-image: url(sfsites/c/resource/BmiAppBackground);
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    max-width: 420px;
    text-align: center;
    margin: auto;
    padding: var(--size-16);
    background: var(--dark-blue);
    color: var(--light-white);
    border-radius: var(--size-38);
}

h1{
    padding: 20px 0;
    font-size: var(--size-38);
    font-weight: bold;
}

.info-wrapper{
    background: var(--dull-blue);
    border-bottom-right-radius: var(--size-38);
    border-bottom-left-radius: var(--size-38);
    text-align: center;
    font-size: var(--size-14);
    padding: var(--size-16);
}

h2{
    font-size: 26px;
    color: var(--light-pink);
}

label{
    color: var(--light-white);
    font-size: 20px;
}

input{
    color: var(--dull-blue);
    padding: 8px;
    font-size: var(--size-16);
}

.button-input{
    background: var(--light-pink);
    border-color: var(--light-pink);
    height: var(--size-38);
    font-size: var(--size-16);
    color: var(--dull-blue);
    padding: var(--size-12);
}

.result{
    color: var(--light-blue);
    font-size: 23px;
    margin-bottom: 6px;
}